In [43]:
import pandas as pd 
import seaborn as sns

In [44]:
#data = pd.read_csv(r"/Users/dimitriraymond/Documents/Epitech/Semestre 2/DAT/resultc/data-4.csv")
data = pd.read_csv(r"data_with_cluster.csv")
data.dropna(inplace=True)
data.shape
data.head()

,id,Couleur nominale,couleur_secondaire,nb_visages,position_visage,emotion1,emotion2,cluster,number,Comedy,...,Short,Sport,Western,Action_Adventure_Sci-Fi,Animation_Family_Fantasy,Music_Musical,Crime_Mystery_Thriller,Drama_Romance,History_Biography_War,Reality_TV_News
0,tt1786751,7,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,tt1762399,0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,tt2094890,0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,tt2042568,3,3.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,tt2042568,3,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [45]:
#from sklearn.neighbors import KNeighborsClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier

In [46]:
#model = MultiOutputClassifier(KNeighborsClassifier())
model = MultiOutputClassifier(RandomForestClassifier())
#model = RandomForestClassifier()

In [47]:
data.columns

Index(['id', 'Couleur nominale', 'couleur_secondaire', 'nb_visages',
       'position_visage', 'emotion1', 'emotion2', 'cluster', 'number',
       'Comedy', 'Documentary', 'Horror', 'N/A', 'Short', 'Sport', 'Western',
       'Action_Adventure_Sci-Fi', 'Animation_Family_Fantasy', 'Music_Musical',
       'Crime_Mystery_Thriller', 'Drama_Romance', 'History_Biography_War',
       'Reality_TV_News'],
      dtype='object')

In [48]:
# SpÃ©cifiez une liste des noms de colonnes Ã  supprimer
data_sup = [ 'id', 'Couleur nominale', 'couleur_secondaire', 'nb_visages',
       'position_visage', 'emotion1', 'emotion2','cluster', 'number']

# Utilisez la mÃ©thode drop() en spÃ©cifiant les noms de colonnes et l'axe (axis=1 pour les colonnes)
datay = data.drop(data_sup, axis=1)

datay.head()

,Comedy,Documentary,Horror,N/A,Short,Sport,Western,Action_Adventure_Sci-Fi,Animation_Family_Fantasy,Music_Musical,Crime_Mystery_Thriller,Drama_Romance,History_Biography_War,Reality_TV_News
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [49]:
# SpÃ©cifiez une liste des noms de colonnes Ã  supprimer
data_sa  = [ 'id', 'Comedy', 'Documentary',
       'Horror', 'N/A', 'Short', 'Sport', 'Western', 'Action_Adventure_Sci-Fi',
       'Animation_Family_Fantasy', 'Music_Musical', 'Crime_Mystery_Thriller',
       'Drama_Romance', 'History_Biography_War', 'Reality_TV_News']

# Utilisez la mÃ©thode drop() en spÃ©cifiant les noms de colonnes et l'axe (axis=1 pour les colonnes)
datax = data.drop(data_sa, axis=1)

datax.head()

,Couleur nominale,couleur_secondaire,nb_visages,position_visage,emotion1,emotion2,cluster,number
0,7,2.0,0.0,0.0,0.0,0.0,2.0,0.0
1,0,3.0,0.0,0.0,0.0,0.0,2.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,6.0,0.0
3,3,3.0,0.0,0.0,0.0,0.0,5.0,0.0
4,3,3.0,0.0,0.0,0.0,0.0,2.0,0.0

In [50]:
y = datay
x = datax

In [51]:
model.fit(x, y)
model.score(x, y)

0.3352786693901371

In [52]:
import numpy as np

In [53]:
nouvelle_instance = np.array([2, 3, 2, 1, 5, 3, 2, 0]).reshape(1, -1)  # Votre nouvelle instance 1D remodelÃ©e en 2D

prediction = model.predict(nouvelle_instance)

prediction

c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\Sitti Fatouma\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.]])

In [54]:
def get_predicted_genres(prediction):
    genres = ['Comedy', 'Documentary', 'Horror', 'N/A', 'Short', 'Sport', 'Western', 'Action_Adventure_Sci-Fi',
              'Animation_Family_Fantasy', 'Music_Musical', 'Crime_Mystery_Thriller', 'Drama_Romance',
              'History_Biography_War', 'Reality_TV_News']
    
    predicted_genres = []
    for i, genre in enumerate(genres):
        if prediction[0][i] == 1:
            predicted_genres.append(genre)
    
    return predicted_genres

In [57]:
import warnings
warnings.filterwarnings("ignore", message="X does not have valid feature names")

nouvelle_instance = np.array([2, 3, 2, 1, 5, 3, 2, 0]).reshape(1, -1)  # Votre nouvelle instance 1D remodelÃ©e en 2D

prediction = model.predict(nouvelle_instance)
predicted_genres = get_predicted_genres(prediction)
print(predicted_genres)

['Comedy', 'Drama_Romance']